// UTILITIES
@import "../scss/utils/mixins";
@import "../scss/utils/reset";
@import "../scss/utils/variables";
// MODULES
@import "../scss/modules/header";
@import "../scss/modules/main";
@import "../scss/modules/footer";
@import "../scss//modules//fashion";

body {
	font-family: $fontMontserrat;
	background: $mainBackground;
	overflow-x: hidden;
}

body.hide{
	overflow: hidden;
}

.scrollmagic-pin-spacer {
	position: static !important;
}