@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');

// FONTS
$fontAbril: 'Abril Fatface', cursive;
$fontMontserrat: 'Montserrat', sans-serif;
//COLORS
$mainBackground: #17181a;
$whiteColor: #fff;
$semiWhiteColor: rgb(223,223,223);

$spanMountainColor: rgb(86,124,228);
$spanHikeColor: rgb(167, 110, 231);
$spanFashionColor: rgb(255,139,93);