.nav-bar{
    position: fixed;
    top: 0;
		left: 0;
		background: $whiteColor;
		@include size(100%, 100%);
		@include d-strached(center, space-around);
    opacity: 1;
		clip-path: circle(50px at 100% -10%);
		.nav-links{
			font-size: 4rem;
			flex-basis: 30rem;

			h3{
				padding: 3rem 0rem;
			}
		}
		.contact{
			flex-basis: 30rem;

			h2{
				font-size: 3rem;
				padding: 2rem 0rem;
			}
			p{
				font-size: 1.5rem;
				line-height: 2rem;
		}
	}
}

.cursor {
	@include size(3rem, 3rem);
	border: 2px solid $whiteColor;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all .5s ease-in-out;
	transition-property: background, transform;
	transform-origin: 75% 75%;
}

.cursor-text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: .5rem;
	transform: translate(-50%, -50%);
}

.nav-active{
	background: rgb(86, 124, 228);
	transform: scale(3);
}

.explore-active{
	background: $whiteColor;
	transform: scale(3);
}

.swipe{
	position: fixed;
	@include size(100%, 100%);
	top: 0;
	left: 0;
	transform: translateX(-100%);
}

.swipe1{
	background: $spanHikeColor;
	z-index: 5;
}

.swipe2 {
	background: $spanMountainColor;
	z-index: 4;
}

.swipe3 {
	background: $spanFashionColor;
	z-index: 3;
}
